# Kakao AdFit
NEXT_PUBLIC_ADFIT_UNIT_TOP_DESKTOP=DAN-xxxxxxxxxx
NEXT_PUBLIC_ADFIT_UNIT_TOP_MOBILE=DAN-xxxxxxxxxx
NEXT_PUBLIC_ADFIT_UNIT_MID=DAN-xxxxxxxxxx
NEXT_PUBLIC_ADFIT_UNIT_BOTTOM=DAN-xxxxxxxxxx
